.container{
	display:flex;
	height: 100vh;
	align-items:top;
  	justify-content:center;
}

@media all and (max-width:2000px){
	.app-wrap {
		flex:1;
		display:flex;
		flex-direction:column;
		height: 100vh;
	}

	.item{
		flex:1;
		text-align: center;
		font-size:1em;
		color:white;
		font-weight:bold;
  		border-left:1px solid white;
  		display:flex;
	}
}

@media all and (max-width:1000px){
	.app-wrap {
		flex:1;
		display:flex;
		flex-direction:column;
		height: 88.1vh;
	}

	.item{
		flex:1;
		text-align: center;
		font-size:2em;
		color:white;
		font-weight:bold;
  		border-left:1px solid white;
  		display:flex;
	}

	.content{
		margin-bottom: 12%;
	}
}

.app-wrap > * {
	align-items:start;
	justify-content:center;
	align-items: stretch;
	display:flex;
}

.header{
	flex:1;
	background-color: #ffc600;
}

.content{
	flex:10;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	background-color: white;
}

.footer{
	flex:1;
	background-color: #ffc600;
}

.item > a{
    display:inline-block;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.item > a > span{
	flex:1;
}

/*.form{
	display:flex;
	align-items:center;
  	justify-content:center;
  	flex-direction: column;
}
*/


