// Place all the styles related to the Wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wine-form{
	z-index: 10;
	border-radius:5px;
	display:flex;
	flex-wrap:wrap;

	
	width:50%;
}

.wine-form > * {
	border:0;
	padding:10px;
	background:white;
	line-height:50px;
	font-size: 20px;
	border-radius:0;
	outline:0;
	border:1px solid rgba(0,0,0,0.2);
	-webkit-appearance:none;
	flex-basis: calc(100%);
	align-content: flex-start;
	margin-bottom: 10px;

}

.wines{
	display: flex;
	flex-wrap: wrap;
	width:100%;	
}

.wine{
	flex:1;
	flex-basis: calc(50% - 20px);
	margin:10px;
	display:flex;
	flex-direction: column;
}

.wine > * {
	flex:1;
	display:flex;
}

.wine > * > * {
	flex:1;
	width:50%;
}

h1{
	color: #ffc600;
}

p {
	color:black;
}

.wine > a {
	color:black;
}

