// Place all the styles related to the Wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//INDEX

.wines-container{
	color:black;
	flex:1;
	display: flex;
	flex-wrap: wrap;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	align-items: flex-start;
}

.wine-container-outer{
	flex:1;
	border: solid 1px black;
	margin:10px;
	border: 1px solid black;
	border-radius: 4px;
}

@media all and (max-width:2000px){
	.wine-container-outer{
		flex-basis: calc(50% - 20px);
		flex-grow: 0;
	}
}

@media all and (max-width:1000px){
	.wine-container-outer{
		flex-basis: calc(100% - 20px);	
	}
}

.wine-container-inner {
	flex:1;
	display:flex;
	flex-direction: column;
}

.wine-detail {
	flex:1;
	display:flex;
	flex-direction: row;
	margin:10px 10px 0px 10px;
}

.wine-detail-image{
	flex:1;
}

.wine-detail-name {
	text-align: left;
	flex:1;
	border: solid 1px black;
	padding: 5px;
}

.wine-detail-name > * {
	margin:0;
}

.wine-detail-value {
	text-align: left;
	flex:2;
	border: solid 1px black;
	border-left:0px;
	padding: 5px;
}

.wine-detail-value> * {
	margin:0;
}


.wine-control-bar {
	flex-basis:50px;
	display:flex;
	flex-direction: row;
	margin:10px;
	justify-content: center;
	align-items: stretch;
}

.wine-control{
	
	flex-basis: 300px;
	border: solid 1px white;
	background-color: rgb(252, 91, 98);
	border-radius: 4px;
}
.wine-control > a{
    display:inline-block;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
}

.wine-control > a > span{
	flex:1;
}


//FORM

.wine-form-container {
	color:black;
	flex:1;
	display: flex;
	align-items: flex-start;
	flex-direction: column;	
}

.wine-form-container > * {
	width: 100%;
	display:flex;
	flex-direction: column;
}

.wine-form-name > * {
	margin:10;
}

.wine-form-object{
	padding:20px 10px 20px 10px;
	flex:1;
	display:flex;
	justify-content: flex-start;
	align-items: center;
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
}

.wine-form-object > * {
	width:50%;
	margin:5px;
	line-height: 3;
	font-size: 20px;
}


